@font-face {
    font-family: 'Cairo-Bold';
    src: url('../fonts/Cairo-Bold.eot');
    src: url('../fonts/Cairo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-Bold.woff2') format('woff2'),
        url('../fonts/Cairo-Bold.woff') format('woff'),
        url('../fonts/Cairo-Bold.ttf') format('truetype'),
        url('../fonts/Cairo-Bold.svg#Cairo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo-Regular';
    src: url('../fonts/Cairo-Regular.eot');
    src: url('../fonts/Cairo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-Regular.woff2') format('woff2'),
        url('../fonts/Cairo-Regular.woff') format('woff'),
        url('../fonts/Cairo-Regular.ttf') format('truetype'),
        url('../fonts/Cairo-Regular.svg#Cairo-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo-Medium';
    src: url('../fonts/Cairo-Medium.eot');
    src: url('../fonts/Cairo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cairo-Medium.woff2') format('woff2'),
        url('../fonts/Cairo-Medium.woff') format('woff'),
        url('../fonts/Cairo-Medium.ttf') format('truetype'),
        url('../fonts/Cairo-Medium.svg#Cairo-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista-Bold';
    src: url('../fonts/Purista-Bold.eot');
    src: url('../fonts/Purista-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Purista-Bold.woff2') format('woff2'),
        url('../fonts/Purista-Bold.woff') format('woff'),
        url('../fonts/Purista-Bold.ttf') format('truetype'),
        url('../fonts/Purista-Bold.svg#Purista-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Purista-SemiBold';
    src: url('../fonts/P3urista-SemiBold.eot');
    src: url('../fonts/Purista-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Purista-SemiBold.woff2') format('woff2'),
        url('../fonts/Purista-SemiBold.woff') format('woff'),
        url('../fonts/Purista-SemiBold.ttf') format('truetype'),
        url('../fonts/Purista-SemiBold.svg#Purista-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

