/*============================
    General CSS Starts Here   
=============================*/
    :focus {
        outline: -webkit-focus-ring-color auto 0px;
    }

    button:focus {
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
    }

    [type=submit],
    button,
    html [type=button] {
        -webkit-appearance: none;
    }

    html { scroll-behavior: smooth; }

    a {
        text-decoration: none;
        transition: 0.3s ease;
    }

    @media(min-width: 2560px) {
        body {
            font-size: 18px;
        }
        .my_container,
        section {
            max-width: 2080px;
            max-width: 1360px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(min-width: 1920px) {
        body {
            font-size: 18px;
        }
        .my_container,
        section {
            max-width: 1360px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1919px) {
        .my_container {
            max-width: 1235px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1440px) {
        body {
            font-size: 16px;
        }
        .my_container {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1366px) {
        body {
            font-size: 13px;
        }
        .my_container {
            max-width: 1110px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1280px) {
        body {
            font-size: 12px;
        }
        .my_container {
            max-width: 1040px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 1194px) {
        body {
            font-size: 11px;
        }
        .my_container {
            max-width: 970px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 834px) {
        body {
            font-size: 11.5px;
        }
        .my_container {
            max-width: 678px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }

    @media(max-width: 767px) {
        body {
            font-size: 10px;
        }
    }

    body {
        background: #191313;
        padding-top: 4.625em;
    }

    .img-circle {
        border-radius: 100%;
    }

    .btn.focus, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
    }
/*============================
    General CSS Ends Here    
============================*/

/*============================
    Desktop CSS Starts Here   
=============================*/
    /*============================
        Header CSS Starts Here   
    =============================*/
        .navbar-brand {
            position: relative;
        }

        .navbar-brand img {
            position: relative;
            left: 1.364em;
            top: 0.682em;
            z-index: 2;
        }

        .navbar-brand:after {
            content: '';
            position: absolute;
            bottom: -63%;
            left: -1px;
            width: 210px;
            height: 30px;
            background: linear-gradient(-45deg, transparent, transparent 1em, #7e181f 0%);
            /*background: linear-gradient(-45deg, transparent, transparent 1em, rgba(123,24,30,1) 0%, rgba(205,23,32,1) 100%);*/
            /* background: linear-gradient(-45deg, transparent, transparent 0.667em, #ffffff 0);*/
        }

        .menu {
            background-color: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            padding: 0;
        }
        
        .line {
            fill: none;
            stroke: #ffffff;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }
        
        .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
        }
        
        .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
        }
        
        .opened .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }
        
        .opened .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
        }

        .opened .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
        }

        header {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 9;
            width: 100%;
            background: rgb(123,24,30);
            background: linear-gradient(0deg, rgba(123,24,30,1) 0%, rgba(205,23,32,1) 100%);
        }

        .collapse.show {
            display: block;
            align-items: center;
        }

        @media (min-width:  1921px) {
            .container {
                max-width: 1520px;
            }
        }

        header .nav-link {
            font-family: Purista-SemiBold;
            color: #ffffff;
            font-size: 0.750em;
            margin: 0 0.833em;
            text-transform: uppercase;
            position: relative;
        }

        header .nav-item:first-child .nav-link {
            margin-left: 7.167em;
        }

        header .navbar-nav:last-child .nav-item .nav-link {
            /*margin-left: 10em;*/
            margin-right: 0;
            background: #ffffff;
            color: #CE1721;
            padding: 0.5em 2em;
            position: relative;
            background: linear-gradient(-45deg, transparent, transparent 0.667em, #ffffff 0);
            transition: 0.3s ease;
        
        }

        header .navbar-nav:last-child .nav-item .nav-link:hover {
            margin-right: 0;
            color: #ffffff;
            background: #CE1721;
            padding: 0.5em 2em;
            position: relative;
            background: linear-gradient(-45deg, transparent, transparent 0.667em, #CE1721 0);
            transition: 0.3s ease;
        
        }

        header .navbar-nav:last-child .nav-item .nav-link:after {
            content: none;
        }

        header .nav-link:after,
        header .nav-link.active:after {
            content: '';
            position: absolute;
            bottom: -53%;
            left: 0;
            width: 0%;
            height: 4px;
            background: linear-gradient(-45deg, transparent, transparent 0.667em, #ffffff 0);
            transition: 0.3s ease;
        }

        header .nav-link:hover:after,
        header .nav-link.active:after {
            content: '';
            position: absolute;
            bottom: -53%;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(-45deg, transparent, transparent 0.667em, #ffffff 0);
            transition: 0.3s ease;
        }
    /*============================
        Header CSS Ends Here   
    =============================*/

    /*============================
        Footer CSS Starts Here   
    =============================*/
        .footer_logo {
            padding: 2.938em 0 2.688em;
            border-top: 1px solid #CE1721;
        }

        .copyright_line {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 1.563em;
        }

        .copyright_line span {
            font-size: 0.750em;
            font-family: Cairo-Medium;
            max-width: 33.33%;
            width: 100%;
            text-align: center;
        }

        .copyright_line span:first-child {
            text-align: left;
        }

        .copyright_line span:last-child{
            text-align: right;
        }

        .copyright_line span a {
            color: #ffffff;
            transition: 0.3s ease;
            text-decoration: none;
        }

        .copyright_line span a:hover {
            color: #CE1721;
            transition: 0.3s ease;
            text-decoration: none;
        }
    /*============================
        Footer CSS Ends Here   
    =============================*/
    
    /*============================
        Home Page CSS Starts Here   
    =============================*/
        section, footer {
            color: #ffffff;
        }

        .section1 {
            padding-top: 7.5em;
            background: url(../images/section1bg.png);
            background-position: top center;
            background-repeat: no-repeat;
        }

        .section1_title h1 {
            font-family: Purista-Bold;
            font-size: 3.125em;
            line-height: 1.340em;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .section1_desc h2 {
            font-family: Purista-SemiBold;
            font-size: 1.625em;
            line-height: 1.231em;
            max-width: 80%;
            /*padding-bottom: 1.154em;*/
            margin-bottom: 0;
        }

        .metaverse_cta a {
            font-family: Purista-SemiBold;
            font-size: 0.750em;
            color: #ffffff;
            background: linear-gradient(-45deg, transparent, transparent 0.5em, rgba(123,24,30,1) 0%, rgba(205,23,32,1) 100%);
            display: inline-block;
            padding: 0.5em 1.25em;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s ease;
            margin-top: 2.333em;
        }

        .metaverse_cta a:hover {
            color: #CE1721;
            background: linear-gradient(-45deg, transparent, transparent 0.5em, #ffffff 0%);
            text-decoration: none;
            transition: 0.3s ease;
        }

        .section1_scroll_down {
            padding: 13.438em 0 1.875em;
        }

        .section1_scroll_down a {
            font-size: 1.50em;
            color: #ffffff;
            text-decoration: none;
        }

        .section2 {
            margin: 2.000em auto 4.000em;
            position: relative;
        }

        .section2:after {
            content: '';
            position: absolute;
            left: 0;
            top: 19.688em;
            top: 31%;
            background: url(../images/section2_redbox.png);
            background-repeat: no-repeat;
            background-position: top left;
            display: inline-block;
            width: 100%;
            height: 100%;
            z-index: 0;
            /*z-index: -1; delete at last*/
        }

        .section2 .section2_inner {
            position: relative;
        }

        .section2_videobox .thumbContainer {
            display: block;
        }

        .section2_videobox .thumbContainer {
            position: relative;
        }

        .section2_videobox .iframes {
            height: 28.250em;
            display: none;
        }

        .section2_videobox .playIcon {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
        }

        .section2_databox {
            position: relative;
            margin-top: -8.5em;
            padding-top: 2.813em;
            z-index: 1;
        }

        .section_title h3 {
            font-size: 1.5em;
            line-height: 1.250em;
            font-family: Purista-SemiBold;
            margin-bottom: 2.5em;
            display: inline-block;
            position: relative;
            text-transform:  uppercase;
        }

        .section_title h3:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(-45deg, transparent, transparent 5px, #CE1721 0);
        }

        .redbg .section_title h3:after {
            background: linear-gradient(-45deg, transparent, transparent 5px, #191313 0);
        }

        .section_desc h4 {
            font-size: 1.5em;
            line-height: 1.250em;
            margin-bottom: 0;
            font-family: Purista-SemiBold;
        }

        .section_hiw {
            padding-top: 14.375em;
        }

        .section2_about.redbg p {
            font-size: 1.000em;
            line-height: 1.5em;
            font-family: Cairo-Regular;
            max-width: 74%;
            padding-top: 1em;
        }

        .hiw_detail {
            text-align: center;
            font-size: 1.000em;
            color: #CE1721;
            font-family: Purista-SemiBold;
        }

        .hiw_desc {
            color: #ffffff;
            font-size: 0.889em;
            font-family: Cairo-Regular;
            line-height: 1.750em;
            max-width: 85%;
            width: 100%;
            margin: 0 auto;
            margin-top: 0.5em;
        }

        .section2_hiw_details {
            padding-top: 4.688em;
        }

        .section2_hiw_details .hiw_img {
            position: relative;
            margin-bottom: 1.625em;
        }

        .section2_hiw_details .hiw_img:before {
            content: '';
            position: absolute;
            left: -13.5px;
            top: 50%;
            transform: translateY(-50%);
            border: 1px dashed red;
            width: 50%;
            z-index: -1;
        }

        .section2_hiw_details .hiw_img:after {
            content: '';
            position: absolute;
            right: -13.5px;
            top: 50%;
            transform: translateY(-50%);
            border: 1px dashed red;
            width: 50%;
            z-index: -1;
        }

        .section2_hiw_details .col-lg-3:first-child .hiw_img:before {
            content: none;
        }

        .section2_hiw_details .col-lg-3:last-child .hiw_img:after {
            content: none;
        }

        .section3_inner {
            text-align: center;
            padding: 5.625em 0;
            background: url(../images/section3_bg.png);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }

        .section3_inner .section_desc {
            max-width: 67.5%;
            width: 100%;
            margin: 0 auto;
        }

        .nft_slider {
            margin: 0 6.25em;
            padding-top: 4.375em;
        }

        .nft_box {
            background: #E2E2E2;
            padding: 1.125em;
        }

        .nft_img {
            position: relative;
            margin-bottom: 0.625em;
        }

        .nft_img span {
            position: absolute;
        }

        .nft_img span {
            position: absolute;
            bottom: 0.625em;
            right: 0.625em;
            font-size: 1em;
            font-family: 'Purista-Bold';
        }

        .nft_details {
            color: #191313;
        }

        .nft_series,
        .nft_serial,
        .nft_bid_type,
        .nft_days_left {
            font-size: 1em;
            line-height: 1.875em;
            font-family: Cairo-Regular;
        }

        .nft_name, .nft_eth {
            font-size: 1.25em;
            font-family: Purista-Bold;
            line-height: 1.5em;
        }

        .nft_slider {
            position: relative;
        }

        .swiper-button-next, .swiper-button-prev {
            top: 0.625em;
            width: 1.875em;
            height: 1.875em;
            margin-top: 0;
            background: #ffffff;
            z-index: 1;
        }

        .arrows {
            color: #191313;
            line-height: 1.875em;
        }

        .swiper-button-next {
            background: linear-gradient(-45deg, transparent, transparent 5px, #ffffff 0);
            right: 0;
        }

        .swiper-button-prev {
            background: linear-gradient(-225deg, transparent, transparent 5px, #ffffff 0);
            right: 2.500em;
            left: auto;
        }

        .section4 {
            margin: 6.25em auto;
        }

        .section4 .section_desc h4 {
            max-width: 67.5%;
            width: 100%;
            margin: 0 auto;
        }

        .joc_media a {
            font-size: 1.750em;
            color: #ffffff;
            padding: 0 1em;
            text-decoration: none;
            transition: 0.3s ease;
        }

        .joc_media {
            padding: 3.750em 0 2.5em;
        }

        .joc_media a:hover {
            color: #CE1721;
            text-decoration: no;
            transition: 0.3s ease;
        }

        .section5 {
            margin-bottom: 11.875em;
            background: url(../images/section5_bg.png);
            background-position: top left;
            background-repeat: no-repeat;
            height: 69.375em;
        }

        .section5 .my_container {
            position: relative;
        }

        .section5 .col-lg-4 {
            position: absolute;
            left: 50%;
            top: 3.125em;
            transition: 3s ease;
            transition-delay: 1s;
        }

        .section5.fadeIn .col-lg-4 {
            position: absolute;
            transition: 3s ease;
            transition-delay: 1s;
            top: 46.875em;
            left: 0;
        }

        .section5 .col-lg-5 {
            visibility: hidden;
            transition: 3s ease;
            transition-delay: 2s;
            top: 46.875em;
            left: 35%;
        }

        .section5.fadeIn .col-lg-5 {
            visibility: visible;
            transition: 3s ease;
            transition-delay: 4s;
            top: 46.875em;
            left: 35%;
        }

        .section6 .section_title h3 a,
        .section6 .section_title h3 a:hover {
            color: #ffffff;
            transition: 0.3s ease;
            transition-delay: 4s;
            text-decoration: none;
            padding: 0.250em 0.792em;
            background: transparent;
            margin-bottom: -4px;
        }

        .section6 .section_title h3 a.active,
        .section6 .section_title h3 a:hover {
            transition: 0.3s ease;
            padding: 0.250em 0.792em;
            background: linear-gradient(-45deg, transparent, transparent 5px, #CE1721 0);
            margin-bottom: -4px;
            display: inline-block;
        }

        .section6 .section_title h3:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(-45deg, transparent, transparent 8px, #CE1721 0);
        }

        .section6 .section_desc {
            max-width: 67.5%;
            width: 100%;
            margin: 0 auto;
        }

        .tab_data {
            display: none;
        }

        .active_tab_data {
            display: block;
        }

        .team_details {
            padding: 5.625em 0 6.875em;
        }

        .team_member_name {
            font-size: 1.125em;
            line-height: 1.667em;
            padding-top: 1em;
        }

        .team_member_desg {
            font-size: 1em;
            color: #CE1721;
            line-height: 1.875em;
            font-family: 'Cairo-Regular';
        }

        .roadmap_slider {
            position: relative;
        }

        .roadmap_slider:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 1px dashed red;
            width: 50%;
            z-index: -1;
        }

        .roadmap_slider:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 1px dashed red;
            width: 50%;
            z-index: -1;
        }

        .roadmap_box {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }


        .roadmap_swiper .swiper-slide:nth-child(even) .roadmap_img {
            order:  2;
        }

        .roadmap_img,
        .roadmap_data {
            padding: 1.875em 0;
            position: relative;
        }

        .roadmap_img:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -1em;
            transform: translateX(-50%);
            width: 1.125em;
            z-index: -1;
            height: 1.125em;
            border-radius: 100%;
            background: red;
        }

        .roadmap_img:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 1.875em;
            z-index: -1;
            bottom: 0;
            width: 2px;
            background: red;
        }

        .roadmap_swiper .swiper-slide:nth-child(even) .roadmap_img:before {
            content: '';
            position: absolute;
            left: 50%;
            top: -1em;
            transform: translateX(-50%);
            width: 1.125em;
            z-index: -1;
            height: 1.125em;
            border-radius: 100%;
            background: red;
        }

        .roadmap_swiper .swiper-slide:nth-child(even) .roadmap_img:after {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 1.875em;
            z-index: -1;
            top: 0;
            width: 2px;
            background: red;
        }

        .roadmap_data {
            max-width: 17.563em;
            min-height: 11.563em;
            height: 100%;
            width: 100%;
        }

        .roadmap_quater {
            font-size: 1.5em;
            color: #CE1721;
            line-height: 1.250em;
            font-family: 'Purista-SemiBold';
        }

        .roadmap_topic {
            font-size: 1.125em;
            color: #ffffff;
            line-height: 1.667em;
            font-family: 'Purista-SemiBold';
            padding-top: 0.889em;
        }

        .roadmap_desc {
            font-size: 1.000em;
            color: #ffffff;
            line-height: 1.875em;
            font-family: 'Cairo-Regular';
        }

        .section8 {
            padding: 6.875em 0 5.938em;
        }

        .section8 .my_container {
            background: url(../images/section8_bg.png);
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 4.063em 4.375em 3.125em 0;
        }

        .section8 .section_title h3 {
            margin-bottom: 1.5em;
        }

        .section8 .custom-select {
            color: #ffffff;
            background: linear-gradient(-45deg, transparent, transparent 8px, #ffffff00 0);
            border: 1px solid #191313;
            -webkit-appearance: auto;
            -moz-appearance: auto;
            appearance: auto;
            border-radius: 0;
            border-bottom-right-radius: 10px;
            font-family: Cairo-Bold;
            font-size: 0.750em;
            height: 4em;
        }

        .section8 .custom-select option {
            background: #191313;
        }

        .section8 .form-control {
            line-height: 1.5;
            color: #ffffff;
            background-color: transparent;
            background-clip: padding-box;
            border: 1px solid #191313;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            font-family: Cairo-Bold;
            font-size: 0.750em;
            height: 4em;
        }

        .section8 .btn-primary {
            color: #ffffff;
            background-color: #191313;
            border-color: #191313;
            border-radius: 0;
            border-bottom-right-radius: 10px;
            font-family: Cairo-Bold;
            font-size: 0.750em;
            height: 4em;
        }

        .section8 .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #ffffff;
        }

        .section8 .form-control::-moz-placeholder { /* Firefox 19+ */
          color: #ffffff;
        }

        .section8 .form-control:-ms-input-placeholder { /* IE 10+ */
          color: #ffffff;
        }

        .section8 .form-control:-moz-placeholder { /* Firefox 18- */
          color: #ffffff;
        }

        .section8 .form-control:focus {
            color: #ffffff;
            background-color: transparent;
            border-color: #191313;
            outline: 0;
            box-shadow: none;
        }

        .section8 .custom-control-label {
            font-size: 0.625em;
            color: #ffffff;
            font-family: Cairo-Regular;
        }

        .section8 .custom-control-label a {
            color: #ffffff;
            text-decoration: underline;
            transition: 0.3s ease;
        }

        .section8 .custom-control-label a:hover {
            color: #191313;
            text-decoration: underline;
            transition: 0.3s ease;
        }

        .section8 .form-check {
            padding-left: 0;
        }

        .section8 .custom-control {
            display: flex;
            align-items: center;
        }

        .section8 .custom-control-label::before {
            background-color: transparent;
            border: 1px solid #191313;
            border-radius: 0;
        }

        .section8 .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
            background-color: transparent;
        }

        .subscription_form span {
            font-size: 1.125em;
            color: #ffffff;
            padding: 0.333em 0 0.667em;
            display: inline-block;
            font-family: 'Purista-SemiBold';
        }

        .section8 .btn-primary:not(:disabled):not(.disabled).active, 
        .section8 .btn-primary:not(:disabled):not(.disabled):active, 
        .section8 .show>.btn-primary.dropdown-toggle {
            color: #ffffff;
            background-color: #191313;
            border-color: #191313;
        }

        .section9 .section_desc {
            max-width: 67.5%;
            width: 100%;
            margin: 0 auto;
        }

        .partner_slider {
            padding: 7.938em 0;
            position: relative;
        }

        .partner_slider .swiper-button-next, 
        .partner_slider .swiper-button-prev {
            top: 4.063em;
        }

        .fixed_social_media {
            position: fixed;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(0deg, rgba(123,24,30,1) 0%, rgba(205,23,32,1) 100%);
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .fixed_social_media a {
            color: #ffffff;
            margin: 0.450em 0.600em;
            font-size: 1.25em;
            transition: 0.3s ease;
        }

        .fixed_social_media a:hover {
            color: #191313;
            transition: 0.3s ease;
        }
    /*============================
        Home Page CSS Ends Here   
    =============================*/

    /*============================
        TnC Page CSS Starts Here   
    =============================*/
        .page-id-42 h1 {
            font-size: 3.125em;
            padding: 3em 0 1.5em;
            font-family: Purista-Bold;
            line-height: 1.340em;
            margin: 0;
            text-transform: uppercase;
        }

        .page-id-42 h2 {
            font-size: 1.875em;
            line-height: 1.333em;
            font-family: Purista-SemiBold;
            margin-top: 2.500em;
            margin-bottom: 2.5em;
            display: inline-block;
            position: relative;
            text-transform: uppercase;
        }

        .page-id-42 h2:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(-45deg, transparent, transparent 5px, #CE1721 0);
        }

        .page-id-42 h3 {
            font-size: 1.5em;
            line-height: 1.250em;
            font-family: Purista-SemiBold;
            margin-bottom: 0.5em;
        }

        .page-id-42 p {
            font-size: 1.000em;
            line-height: 1.5em;
            font-family: Cairo-Regular;
            margin-bottom: 1.875em;
        }


        .page-id-42 p a {
            color: #CE1721;
            text-decoration: underline;
            transition: 0.3s ease;
        }

        .page-id-42 p a:hover {
            color: #ffffff;
            text-decoration: underline;
            transition: 0.3s ease;
        }
    /*============================
        TnC Page CSS Ends Here   
    =============================*/


    @media(min-width: 2560px) {}
    @media(max-width: 1919px) {}
    @media(max-width: 1440px) {}
    @media(max-width: 1366px) {}
    @media(max-width: 1280px) {}
/*============================
    Desktop CSS Ends Here   
=============================*/

/*================================
    Ipad/Mobile CSS Starts Here   
================================*/
    @media(max-width: 1194px) {}
    @media(max-width: 1024px) {}
    @media(max-width: 834px) {
        /*============================
            Header CSS Starts Here   
        =============================*/
            body {
                padding-top: 7.25em;
            }

            .bodyoverflow {
                overflow: hidden;
            }

            header .navbar {
                padding: 1.500em 1.5em;
                text-align: left;
            }

            header .navbar-nav {
                padding: 4.000em 0 0;
            }

            header .navbar-nav:last-child {
                padding: 0;
            }

            header .navbar-brand img {
                max-width: 4.5em;
                width: 100%;
                position: relative;
                left: 0;
                top: 0;
                z-index: 2;
            }

            header .nav-link:hover:after, 
            header .nav-link.active:after {
                content: '';
                position: absolute;
                bottom: -20%;
            }

            header .nav-link {
                font-size: 2em;
                margin: 0 0;
                margin-bottom: 2em;
                display: inline-block;
                padding: 0;
            }

            header .nav-item:first-child .nav-link,
            header .navbar-nav:last-child .nav-item .nav-link {
                margin-left: 0;
            }

            header .navbar-nav:last-child .nav-item .nav-link {
                margin-top: 3.333em;
                font-size: 1.200em;
                padding: 0.583em 2.000em;
            }

            header .nav-link:after, header .nav-link.active:after,
            header .nav-link:hover:after, header .nav-link.active:after {
                background: linear-gradient(-45deg, transparent, transparent 3px, #191313 0);
            }

            .navbar-collapse.show {
                height: 100vh;
            }

            .navbar-brand:after {
                content: none;
            }
        /*============================
            Header CSS Ends Here   
        =============================*/

        /*============================
            Footer CSS Starts Here   
        =============================*/
            footer {
                padding-bottom: 5em;
            }

            .copyright_line span {
                font-size: 1.2em;
                font-family: Cairo-Medium;
                max-width: 100%;
                width: 100%;
                text-align: center;
            }

            .copyright_line span:nth-child(2) {
                padding: 2em 0;
            }

            .copyright_line span:first-child, .copyright_line span:last-child {
                text-align: center;
            }
        /*============================
            Footer CSS Ends Here   
        =============================*/

        /*============================
            Home Page CSS Starts Here   
        =============================*/

            .fixed_social_media {
                position: fixed;
                right: 0;
                top: 100%;
                transform: translateY(-100%);
                background: linear-gradient(0deg, rgba(123,24,30,1) 0%, rgba(205,23,32,1) 100%);
                display: flex;
                flex-direction: row;
                text-align: center;
                width: 100%;
                justify-content: space-evenly;
                z-index: 9;
            }

            .bodyoverflow .fixed_social_media {
                /*background: transparent;*/
                /*transition-delay: 2s;*/
            }

            .fixed_social_media a {
                color: #ffffff;
                margin: 0.45em 0.6em;
                font-size: 2.25em;
            }

            .section1 {
                padding: 6.4em 2.2em 0;
                background: url(../images/section1_mobbg.png);
                background-position: top center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .section1_title h1 {
                font-size: 3.6em;
                line-height: 1.361em;
            }

            .section1_desc h2 {
                font-family: Purista-SemiBold;
                font-size: 2.4em;
                line-height: 1.25em;
                max-width: 100%;
                /* padding-bottom: 1.154em; */
                padding-top: 0.25em;
            }

            .metaverse_cta a {
                font-size: 1.20em;
                margin-top: 2.0em;
            }

            .section1_scroll_down {
                padding: 23.75em 0 1.875em;
            }

            .section1_scroll_down a {
                font-size: 2.5em;
            }

            .section2 {
                margin: 0 auto 2.4em;
                position: relative;
            }

            .section2:after {
                content:  none;
            }

            .section2_databox {
                position: relative;
                margin-top: 0;
                padding: 0;
                z-index: 1;
            }

            .section2_about {
                padding: 0 2.2em;
                margin: 0 0.7em;
                padding-top: 2em;
                background: url(../images/section8_mobbg.png);
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: -15px;
            }

            .section2_about.redbg p {
                font-size: 1.40em;
                line-height: 1.714em;
                font-family: Cairo-Regular;
                max-width: 100%;
                padding-top: 0.5em;
                margin: 0;
                padding-bottom: 1.5em;
            }

            .section_title h3 {
                font-size: 2.4em;
                line-height: 1.250em;
            }

            .section_desc h4 {
                font-size: 2em;
                line-height: 1.50em;
                margin-bottom: 1em;
            }

            .section2_about.redbg p {
                font-size: 1.40em;
                line-height: 1.714em;
                font-family: Cairo-Regular;
                max-width: 100%;
                padding-top: 1em;
            }

            .section_hiw {
                padding-top: 6em;
                margin: 0 2.7em;
            }

            .section2_hiw_details .hiw_img:before,
            .section2_hiw_details .hiw_img:after {
                content:  none;
            }

            .hiw_detail {
                font-size: 1.40em;
                line-height: 1.714em;
            }

            .section2_hiw_details .hiw_img {
                position: relative;
                margin-bottom: 1.786em;
            }

            .hiw_desc {
                color: #ffffff;
                font-size: 1.000em;
                line-height: 1.714em;
                margin-bottom: 2em;
            }

            .section3_inner {
                background: url(../images/section3_mobbg.png);
                background-position: top right;
                background-size: cover;
                padding: 2.4em 0 5.5em;
            }

            .section3_inner .section_desc {
                max-width: 90%;
            }

            .swiper-button-next, .swiper-button-prev {
                display: none;
            }

            .nft_slider {
                margin: 0 1em;
                padding-top: 3em;
            }

            .nft_img span {
                bottom: 0.8em;
                right: 1em;
                font-size: 1.3em;
            }

            .nft_box {
                background: #E2E2E2;
                padding: 1.7em 1.7em 1em;
            }

            .nft_series, .nft_serial, .nft_bid_type, .nft_days_left {
                font-size: 1.2em;
                line-height: 2.167em;
                font-family: Cairo-Regular;
            }

            .nft_name, .nft_eth {
                font-size: 1.6em;
                font-family: Purista-Bold;
                line-height: 1.813em;
            }

            .section4 {
                margin: 6.5em auto 5.5em;
            }

            .section4 .section_desc h4 {
                max-width: 80%;
                width: 100%;
                margin: 0 auto;
            }

            .joc_media a {
                font-size: 2.75em;
                line-height: 2em;
                padding: 0 0.75em;
            }

            .section5 {
                margin-bottom: 6em;
                background-position: top left;
                height: auto;
                padding-top: 12em;
                background: url(../images/section5_mobbg.png);
                background-repeat: no-repeat;
            }

            .section5 .col-lg-4 {
                position: relative;
                left: 0%; 
                top: 0;
                transition: 3s ease;
                transition-delay: 1s;
            }

            .section5 .col-lg-5 {
                visibility: visible;
                transition: 3s ease;
                transition-delay: 2s;
                top: 0;
                left: 0;
                padding: 6.4em 1.6em;
            }

            .section6 .section_title h3 a, .section6 .section_title h3 a:hover,
            .section6 .section_title h3 a.active, .section6 .section_title h3 a:hover {
                padding: 0.25em 0.4em;
            }

            .section6 .section_desc {
                max-width: 80%;
                width: 100%;
                margin: 0 auto;
            }

            .team_details {
                padding: 3.5em 0 4em;
            }

            .team_member_name {
                font-size: 1.6em;
                line-height: 1.875em;
                padding-top: 1em;
            }

            .team_member_desg {
                font-size: 1.4em;
                color: #CE1721;
                line-height: 2.143em;
                font-family: 'Cairo-Regular';
                margin-bottom: 2.143em;
            }

            .roadmap_swiper .swiper-slide:nth-child(even) .roadmap_img {
                order: 1;
            }

            .roadmap_swiper .swiper-slide:nth-child(odd) .roadmap_img {
                order: 1;
            }

            .roadmap_swiper .swiper-slide:nth-child(even) .roadmap_data {
                order: 1;
            }

            .roadmap_swiper .swiper-slide:nth-child(odd) .roadmap_data {
                order: 2;
            }

            .roadmap_quater {
                font-size: 2em;
                line-height: 1.50em;
            }

            .roadmap_topic {
                font-size: 1.6em;
                line-height: 1.875em;
                padding-top: 0.5em;
            }

            .roadmap_desc {
                font-size: 1.4em;
                color: #ffffff;
                line-height: 2.143em;
            }

            .roadmap_data {
                max-width: 75%;
                min-height: auto;
                height: 100%;
                width: 100%;
            }

            .roadmap_swiper .swiper-slide:nth-child(even) .roadmap_img:before,
            .roadmap_swiper .swiper-slide:nth-child(even) .roadmap_img:after {
                top: auto;
            }

            .roadmap_slider:before, .roadmap_slider:after {
                top: 55.5%;
                transform: translateY(-55.5%);
            }

            .section8 {
                padding: 7em 0 5.5em 0;
            }

            .section8 .my_container {
                padding: 0 15px;
                background: none;
            }

            .section8 .redbg {
                background: url(../images/section8_mobbg.png);
                background-position: bottom right;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 2em;
            }

            .subscription_form span {
                font-size: 1.6em;
            }

            .section8 .custom-select,
            .section8 .form-control,
            .section8 .btn-primary {
                font-size: 1.2em;
            }

            .section8 .custom-control-label {
                font-size: 1em;
            }


            .section9 .section_desc {
                max-width: 80%;
                width: 100%;
                margin: 0 auto;
            }
        /*============================
            Home Page CSS Ends Here   
        =============================*/

        /*============================
            TnC Page CSS Starts Here   
        =============================*/

        .page-id-42 h1 {
            font-size: 3.6em;
            padding: 1.778em 0 0.833em;
            font-family: Purista-Bold;
            line-height: 1.340em;
            margin: 0;
            text-transform: uppercase;
        }

        .page-id-42 h2 {
            font-size: 2.4em;
            line-height: 1.333em;
            margin-top: 1em;
            margin-bottom: 2em;
        }

        .page-id-42 h3 {
            font-size: 2em;
            line-height: 1.50em;
            font-family: Purista-SemiBold;
            margin-bottom: 0.5em;
        }

        .page-id-42 p {
            font-size: 1.400em;
            line-height: 1.333em;
            font-family: Cairo-Regular;
            margin-bottom: 1.875em;
        }

        /*============================
            TnC Page CSS Ends Here   
        =============================*/

    }
    @media(max-width: 768px) {}
    @media(max-width: 767px) {
        .roadmap_slider:before,
        .roadmap_slider:after {
            top: 54.5%;
            transform: translateY(-54.5%);
        }



        .nft_slider {
            margin: 0;
            padding-top: 3em;
        }

        .joc_media a {
            padding: 0 1em;
        }
    }
    @media(max-width: 320px) {}
/*================================
    Ipad/Mobile CSS Ends Here   
================================